/* Only use this for CSS that affects non-Vue components (pages that do not include the webpack bundle */
:root {
    --depth: 0;
}

body {
    padding-top: 100px;
    padding-bottom: 20px;
}

.mono {
    font-family: monospace;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-expand {
    flex: 1;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.link:hover {
    color: #0f7864;
    text-decoration: underline;
}

.link, .link:active {
    color: #18bc9C;
    text-decoration: none;
    cursor: pointer;
}

.nav .btn-link:hover, .nav a:hover {
  color: #ddd;
}
.nav .btn {
  margin-bottom: 0;
  border: none;
  padding: 0;
  margin-top: 8px;
}

.btn {
    cursor: pointer;
}

button:disabled {
    cursor: default;
    pointer-events: all !important;
}

.form-control {
    color: #4d4d44 !important; /* update later to override all states of form-control text */
}

textarea.tall {
    min-height: 290px;
}

.form-text {
    color: #7b8a8b;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
}

.sidenote {
    margin-left: 10px;
    margin-bottom: 3px;
}

.result-message.success {
    color: green;
}

.result-message.error {
    color: #f00;
}

.row-actions {
  max-width: 340px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

footer a, a:hover {
  color: #212529;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Button styling */
.btn { margin-bottom: 10px; }
.btn i {
    padding-right: 7px;
}

.button-list .btn {
    margin-right: 10px;
}

/* Table styling */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafafa;
}

/* jQuery UI */
.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: inherit;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-widget-header {
    background: none;
    border: none;
}

.ui-widget-overlay.ui-front {
    background-color: #333;
    opacity: 0.6;
    z-index: 1031; /* Higher than ASP.NET header */
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #0f7864;
    background: #18bc9c;
}

.ui-button.btn.btn-primary {
    color: #fff;
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.ui-button.btn.btn-success {
    color: #fff;
    background-color: #18BC9C;
    border-color: #18BC9C;
}

.ui-button.btn.btn-danger {
    color: #fff;
    background-color: #E74C3C;
    border-color: #E74C3C;
}

.ui-button.btn-success:not(:disabled):not(.disabled):active {
    background-color: #128f76;
    border-color: #11836d;
}

.ui-button.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #1a252f;
    border-color: #151e27;
}

.ui-button.ui-dialog-titlebar-close, html .ui-button.ui-dialog-titlebar-close.ui-state-disabled:hover, html .ui-dialog-titlebar-close.ui-button.ui-state-disabled:active {
    border: none;
    background: none;
    right: 0.6em;
}

.ui-button.ui-dialog-titlebar-close:active .ui-icon {
    background-image: url('../../lib/jquery-ui-1.12.1/images/ui-icons_444444_256x240.png');
}

.ui-widget-content {
    border: none;
    padding: 0;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 0.5em 0.6em;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 1em 1em 1em 2em;
}

.ui-dialog .ui-dialog-content {
    padding-left: 2em;
}

.contract-display-row {
    margin-left: calc(var(--depth) * 1.75em);
}

.navbar-link {
  color: white;
}

.navbar-user {
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
}
