@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav navbar-right">
            <li class="navbar-user">
                <span class="navbar-user">@UserManager.GetUserName(User)</span>
            </li>
            <li class="navbar-user">
                @Html.ActionLink("Contracts", "Index", "Contracts", new { }, new { @class = "navbar-user" })
            </li>
            <li class="navbar-user">
                <a class="navbar-user" asp-page="/Users/Index">Users</a>
            </li>
        </ul>
        <form asp-area="" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="form-inline">
            <button type="submit" id="logoutBtn" class="btn btn-link navbar-user navbar-btn navbar-link">Logout</button>
        </form>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (!UserManager.Users.Any())
        {
            <li><a class="navbar-link" asp-page="/Account/Register">Create an account</a></li>
        }
        else
        {
            <li><a class="navbar-link" id="loginBtn" asp-page="/Account/Login">Login</a></li>
        }
    </ul>
}
