$font-color: #212529;
$form-font-color: #4d4d44;
$disabled-font-color: #bbbbbb;
$disclaimer-font-color: #7b8a8b;
$link-hover: #0f7864;
$link-active: #18bc9C;
$table-stripe: #fafafa;
$form-border: #ced4da;
$highlight-color: #ddedfb;
