@import './_variables.scss';
@import './contract-list.scss';
@import './modals.scss';
@import './tree-grid.scss';

/* Use SCSS files to define styles to use on pages that contain the Vue bundle */
.hidden {
  display: none;
}

.multiselect {
  min-height: 36.5px;
}

.checkbox {
  height: 20px;
}
