.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 400px;
    max-width: 836px;
    height: initial;
    position: relative;
    max-height: calc(100vh);
}

.modal-header,
.modal-footer {
    padding: 15px;
    display: flex;
    border: none;
    overflow-y: visible;
}

.modal-header {
    justify-content: space-between;
    background: none;
    font-weight: 700;
}

.modal-footer {
    justify-content: flex-end;
}

.modal-body {
    position: relative;
    padding: 15px;
    overflow-y: visible;
}

#deleteFieldBtn, #deleteModelBtn {
    margin-right: auto;
}
